{% block content %}
    {% if your_name %}
        Welcome, {{ your_name }}
    {% else %}
    {% if yourself%}
        <i>You cant't delete yourself :\</i>
    {% endif %}
        Welcome, auntificated {{ new_user.get_username }}
        <h1>With you:</h1>
        {% for user in users %}
            <p><b>{{user.get_username}}</b>
                {% if user.get_username != "sda"%}
                <a href='accounts/change/{{ user.get_username }}'">Change data</a>
                 <a href='../delete/{{ user.get_username }}'>Delete</a>
                {% endif%}
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}